@font-face {
    font-family: 'Sriracha';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sriracha/v16/0nkrC9D4IuYBgWcI9NbLTwHSoQ.woff2) format('woff2');
    unicode-range: U +02D7, U +0303, U +0331, U +0E01 -0E5B, U +200C -200D, U +25CC;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
html,
body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}


header {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    unicode-bidi: isolate;


}
header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    margin: auto;
}
header>p {
    padding-bottom: 50px;
    margin: auto;
}
header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
p {
    width: 40%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    padding-left: 30px;
    text-indent: 1.7%;

}
section.imagem>p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;

}
section.normal {
    background-color: white;
    color: black;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding-left: 30px;


}
section {
    display: block;
    unicode-bidi: isolate;
}
section#img01 {
    background-image: url(./imagens/background001.jpg);
    background-position: right center;
}
section#img02 {
    background-image: url(./imagens/background002.jpg);
}
section.imagem {

    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
